{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %} {{ site.title }} {% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Hello, {% if name %}{{ name }}{% else %}Stranger{% endif %}!</h1>
    {% if not known %}
    <p>Pleased to meet you</p>
    {% else %}
    <p>Happy to see you again</p>
    {% endif %}
</div>
<table class="table">
  <thead>
          <tr>
            <th>Name</th>
          </tr>
	</thead>
	<tbody>
          {% for user in users %}
          <tr>
            <td>{{ user.username }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>


          <tr>
            <td>Name is {{ session.name }}</td>
            <td>Name is {{ users }}</td>
          </tr>
{% endblock %}    